In [1]:
mylist = [1,2,3]

In [3]:
for num in range(0,20,4):
    print(num)

0
4
8
12
16

In [7]:
word = "abcdef"
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e


5
f

In [8]:
mylist = [10,20,30,40,50,60,70,80]

In [10]:
min(mylist)

10

In [12]:
max(mylist)

80

In [13]:
celsius = [0,10,20,34.5,55,78]
fahrenheit = [((9/5)*temp + 32) for temp in celsius]

In [14]:
fahrenheit

[32.0, 50.0, 68.0, 94.1, 131.0, 172.4]

In [15]:
fahrenheit = []
for temp in celsius:
    fahrenheit.append((9/5)*temp +32)

In [17]:
fahrenheit

[32.0, 50.0, 68.0, 94.1, 131.0, 172.4]

In [18]:
mylist = []

In [19]:
for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [20]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [21]:
st = 'Print only the words that start with s in this sentence'

In [33]:

for word in st.split():
    if word[0] == 's':
        print(word)

start
s
sentence

In [37]:
for num in range(0,11):
    if num % 2 == 0:
        print(num)

0
2
4
6
8
10

In [51]:
num = [x for x in range(1,51) if x % 3 == 0]
print(num)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [52]:
st = 'Print every word in this sentence that has an even number of letters'

In [58]:
for word in st.split():
    if len(word) % 2==0:
        print(word)

word
in
this
sentence
that
an
even
number
of

In [69]:
for num in range(1,101):
    if num % 3 == 0 and num % 5 == 0:
        print("fizzbuzz")
    elif num % 3 == 0:
        print("fizz")
    elif num % 5 == 0:
        print("buzz")
    else:
        print(num)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [70]:
st = 'Create a list of the first letters of every word in this string'

In [93]:
first_letters = [word[0] for word in st.split()]
print(first_letters)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']